<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Psicólogos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title
          color="secondary" class="ion-text-wrap ion-text-center"
          *ngIf="psychologists">
        <h2>Psicólogos en línea</h2>
      </ion-card-title>
      <ion-card-subtitle color="terciary" class="ion-text-wrap ion-text-center">
        <ion-label *ngIf="psychologists" color="tertiary">
          Selecciona un psicólogo para obtener más información.
        </ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="psychologists">
        <ion-header color="primary">
          <h2>Psicólogos</h2>
        </ion-header>
        <ion-item *ngFor="let psychologist of psychologists" >
          <ion-avatar slot="start" color="secondary">
            <img src="assets/img/users/psychologist-default.png">
          </ion-avatar>
          <ion-label size="medium" class="ion-text-wrap">
            <h2>{{psychologist.name}} {{psychologist.last_name}}</h2>
            <p>{{psychologist.presentation}}</p>
            <ion-button (click)="goToPsychologistDetail(psychologist.id)">VER PERFIL</ion-button>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
