<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="psychologist-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="psychologist">{{psychologist.name}} {{psychologist.last_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary" class="ion-text-wrap ion-text-center"
          *ngIf="psychologist">
          <h2>{{psychologist.name}} {{psychologist.last_name}}</h2>
      </ion-card-title>
      <img class="avatar" src="assets/img/users/psychologist-default.png"/>
      <ion-card-subtitle color="terciary" class="ion-text-wrap ion-text-center">
        <ion-label *ngIf="psychologist" color="primary" class="rate">
          {{psychologist.rate}}
        </ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="psychologist">
      <ion-item>
        <ion-label position="floating"  color="secondary"
                    *ngFor="let spec of psychologist.specialities"
                    class="ion-text-wrap ion-text-center">{{spec}}
        </ion-label>
      </ion-item>

      <ion-item >
        <ion-label size="medium" class="ion-text-wrap">
          {{psychologist.presentation}}
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
