<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    <img src="assets/img/logo-psonrie.png" alt="PSonrie logo">
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>
                    <ion-chip (click)="selectedIndex = 2" routerLink="/user">
                      <ion-avatar>
                        <img src="assets/img/users/avatar-unknow.svg">
                      </ion-avatar>
                      <ion-label>{{'username' | titlecase}}</ion-label>
                    </ion-chip>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <ion-chip (click)="doLogout()">
                      <ion-avatar slot="start">
                        <ion-icon slot="start" name="log-out"></ion-icon>
                      </ion-avatar>
                      <ion-label>Logout</ion-label>
                    </ion-chip>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label color="tertiary">PSONRIE APP</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
